
<ion-content>
  <div class="container">
      <div class="image-container">
          <img src="assets\comingsoon\movie2.jpeg" alt="Deadpool 3">
          <button class="trailer-btn">
              <img src="assets\icon\Trailer.png" alt="Trailer">
          </button>
      </div>
      <div class="content">
          <h1>Deadpool 3</h1>
          <div class="tags">
              <div class="tag">NC16</div>
              <div class="tag">Comedy/action</div>
          </div>
          <div class="description">
            Wade Wilson vive una vida tranquila, habiendo dejado atrás su época como mercenario Deadpool, hasta que la Time Variance Autority (TVA), una organización burocrática que existe fuera del tiempo y el espacio monitorea la línea temporal, lo involucra en una nueva misión. Con su universo natal enfrentando una amenaza existencial, Wilson se une a regañadientes a un Wolverine aún más reacio en una misión que cambiará la historia del MCU.
          </div>
          <div class="ReleaseDate">
              <div class="boxDate">Release Date | July 26 2024</div>
          </div>
      </div>
  </div>
</ion-content>
