
<ion-content>
    <div class="container">
        <div class="image-container">
            <img src="assets\movies\movie2.jpg" alt="El Bus de la Vida">
            <button class="trailer-btn">
                <img src="assets\icon\Trailer.png" alt="Trailer">
            </button>
        </div>
        <div class="content">
            <h1>El Bus de la Vida</h1>
            <h2></h2>
            <div class="tags">
                <div class="tag">PG</div>
                <div class="tag">Drama/Disease</div>
            </div>
            <div class="description">
                Andrés, a music teacher who works in Madrid, has to move to an empty town to fill the vacant place at a high school. Having turned 40 and having never overcome stage fright, he feels that his new life is taking him away. of the dream of being a musician. Upon arriving there, on his first day of class, he faints due to loud ringing in his ear: it is cancer. To receive treatment you must travel to the Bilbao hospital on The BUS OF LIFE, an old bus that transports all patients in the area free of charge.
            </div>
            <button class="booking-btn">
            <img src="assets\icon\Booking.png" alt="Booking">    
            </button>
        </div>
    </div>
</ion-content>

