
:host {
  ion-toolbar {
    --background: #f8f9fa;
    --color: #000;
    ion-title {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    } ion-back-button {
      color: #000000;
    }
  }
}