
<ion-content>
    <div class="container">
        <div class="image-container">
            <img src="assets\movies\movie4.jpeg" alt="Padre no hay mas que uno 4">
            <button class="trailer-btn">
                <img src="assets\icon\Trailer.png" alt="Trailer">
            </button>
        </div>
        <div class="content">
            <h1>Padre No Hay Más Que Uno 4</h1>
            <h2>Campanas de Boda</h2>
            <div class="tags">
                <div class="tag">PG</div>
                <div class="tag">Comedy</div>
            </div>
            <div class="description">
                ¿Qué efecto tendría e unos padres que el mismo día que su hija mayor cumple 18 años su novio le propone matrimonio y ella acepte de inmediato?
            </div>
            <div class="ReleaseDate">
                <div class="boxDate">Release Date | July 18 2024</div>
            </div>
        </div>
    </div>
</ion-content>
