:host{
    ion-content {
        --background: #0B101A;
        color: #0B101A;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.image-container {
    position: relative;

    img {
        max-width: 100%;
        height: 350px;
        display: block;
    }

    .trailer-btn {
        position: absolute;
        bottom: 15px;
        right: 15px;
        
        background:none;
        border: none;
        cursor: pointer;
        padding: 0;

        img{
            width: auto;
            height: 30px;
        }
    }
}

.content {
    padding: 20px;
    text-align: center;

    h1 { 
        font-style: roboto;
        color: #40526f;
        margin: 0;
        font-size: 24px;
    }

    h2 {
        margin: 0;
        font-size: 20px;
        color: #40526f;
    }

    .tags {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;

        .tag {
            background-color: #333;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 12px;
        }
    }

    .description {
        margin: 20px 0;
        font-size: 14px;
        color: #f1f1f1;
    }

    .booking-btn {
        img{
            position: center;
            width: 150px;
        }
        display: block;
        width: 100%;
        
        background: none;
        border: none;

        cursor: pointer;
       
    }

}
}
}