<ion-content>
  <div class="container">
      <div class="image-container">
          <img src="assets\comingsoon\movie4.jpeg" alt="Norberta">
          <button class="trailer-btn">
              <img src="assets\icon\Trailer.png" alt="Trailer">
          </button>
      </div>
      <div class="content">
          <h1>Norberta</h1>
          
          <div class="tags">
              <div class="tag">PG13</div>
              <div class="tag">Comedy</div>
          </div>
          <div class="description">
            Norberto lleva toda una vida con María. Son gente humilde, de barrio,
            y de vez en cuando atracadores, pero Norberto necesita dar un giro para
            sentirte viva, libre, para sentirse “ella” misma. Una confesión inesperada que
            pondrá en jaque toda su vida.
          </div>
          <div class="ReleaseDate">
              <div class="boxDate">Release Date | July 26 2024</div>
          </div>
      </div>
  </div>
</ion-content>
