<ion-content>
  <div class="minimalist-container">

    <h1>About Us</h1>

    <h2>VIP Seats</h2>
    <div class="image">
      <img src="" alt="img of VIP Seats">
    </div>
    <p>We pamper you with the most 
      comfortable, spacious seats and 
      recliners for you to enjoy 
      best of your film in one 
      unique service experience and 
      comfort.</p>

    <h2>VIP Service</h2>
    <div class="image">
      <img src="assets/about-us/barstock.jpg" alt="img of VIP Service">
    </div>
    <p>You receive the treatment you deserve, that's why
      we take all your food to you 
     your place, just press the button 
     service and a waiter will assist you.</p>

    <h2>VIP Bar</h2>
    <div class="image">
      <img src="assets/about-us/waiterstock.webp" alt="img of VIP Bar">
    </div>
    <p>Your movie hasn't started yet? Accompany the 
      wait with your partner and a cocktail. 
      At Cinépolis VIP we offer you the best 
      facilities to spend some time 
      pleasant, of course, always with the 
      best service.</p>
      
  </div>
</ion-content>