<ion-content>
  <div class="minimalist-container">

    <ion-button
    (click)="navigateBack()"> 
      <ion-icon 
      name="arrow-back-outline"
      slot="start"
      ></ion-icon>
    </ion-button>


    <h1>About us</h1>

    <h2>VIP Seats</h2>
    <p>We pamper you with the most 
      comfortable, spacious seats and 
      recliners for you to enjoy 
      best of your film in one 
      unique service experience and 
      comfort.</p>

    <h2>VIP Service</h2>
    <p>You receive the treatment you deserve, that's why
      we take all your food to you 
     your place, just press the button 
     service and a waiter will assist you.</p>

    <h2>VIP Bar</h2>
    <p>Your movie hasn't started yet? Accompany the 
      wait with your partner and a cocktail. 
      At Cinépolis VIP we offer you the best 
      facilities to spend some time 
      pleasant, of course, always with the 
      best service.</p>
      
  </div>
</ion-content>