
<ion-content>
  <div class="container">
      <div class="image-container">
          <img src="assets\comingsoon\movie5.jpeg" alt="Quien teme al pueblo de hitler?">
          <button class="trailer-btn">
              <img src="assets\icon\Trailer.png" alt="Trailer">
          </button>
      </div>
      <div class="content">
          <h1>Quien teme al pueblo de hitler?</h1>
          
          <div class="tags">
              <div class="tag">PG13</div>
              <div class="tag">Documental/Nazismo</div>
          </div>
          <div class="description">
            ¿Por qué nunca se ha hecho una película en Austria sobre el lugar de
            nacimiento de Hitler? Esta fue la pregunta que se hizo el director Gunter
            Schwaiger cuando empezó a trabajar en esta película en 2018. Poco antes, la casa
            había sido expropiada por la Republica de Austria. Durante 5 años, el director
            acompaño con una mirada muy personal. Desde el cuestionamiento del cliché de la “ciudad nazi”
            hasta sorprendentes e indignantes descubrimientos, su camino le acaba conduciendo a su propia
            historia familiar.
          </div>
          <div class="ReleaseDate">
              <div class="boxDate">Release Date | July 25 2024</div>
          </div>
      </div>
  </div>
</ion-content>
