:host {
    display: block;
    height: 100%;
    background-color: #191a32;
  }
  
  ion-content {
    --background: #191a32;
  }
  
  .movie-image {
    width: 100%;
    height: auto;
    display: block;
  }
  