<ion-header>
  <ion-toolbar>
    <ion-title>Cartelera de Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let movie of movies">
        <ion-card>
          <img [src]="movie.image" alt="{{movie.name}}" class="movie-image" />
          <ion-card-content>
            <ion-card-title>{{movie.name}}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

