<ion-content >

<div class="content-container">
<ion-grid>

    <ion-row class="ion-justify-content-center">
      <div class="image">
        <img src="assets/starts/LogoCineVIP.png" width=80px height=80px alt="CineLogo">
      </div>
    </ion-row>

      <h1 class="title">Cinépolis VIP</h1>

      <ion-row>
        <pre> </pre>
      </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button class="comenzar-button" (click)="goStart2()">
        Comenzar
       </ion-button>
    </ion-row>

</ion-grid>
</div>
   
</ion-content>
