
<ion-content>
    <div class="container">
        <div class="image-container">
            <img src="assets\movies\movie1.jpg" alt=" Despicable Me 4">
            <button class="trailer-btn">
                <img src="assets\icon\Trailer.png" alt="Trailer">
            </button>
        </div>
        <div class="content">
            <h1>Despicable Me 4</h1>
            <h2></h2>
            <div class="tags">
                <div class="tag">G</div>
                <div class="tag">Animation/Comedy</div>
            </div>
            <div class="description">
                Gru, Lucy, Margo, Edith and Agnes welcome a new member of the family, Gru Jr., who is determined to torment his dad, Gru faces a new nemesis called Maxime Le Mal and his girlfriend Valentina, and the family is forced to flee.
            </div>
            <button class="booking-btn">
            <img src="assets\icon\Booking.png" alt="Booking">    
            </button>
        </div>
    </div>

  </ion-content>
