
<ion-content>
  <div class="container">
      <div class="image-container">
          <img src="assets\comingsoon\movie3.jpg" alt="In a violent nature">
          <button class="trailer-btn">
              <img src="assets\icon\Trailer.png" alt="Trailer">
          </button>
      </div>
      <div class="content">
          <h1>In a violent nature</h1>
          <div class="tags">
              <div class="tag">M18</div>
              <div class="tag">Drama/terror/suspenso</div>
          </div>
          <div class="description">
            Con ecos a viernes 13, en este “slasher” un muerto que vuelve a la vida
            llamado Johnny mata a los campistas uno a uno con métodos similares a los de la
            película de la mítica saga, pero yendo mucho más lejos que los de Jason.
          </div>
          <div class="ReleaseDate">
              <div class="boxDate">Release Date | July 19 2024</div>
          </div>
      </div>
  </div>
</ion-content>
