<ion-content [fullscreen]="true">
  <div class="content-container">
    <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1 class="title">Go to your Profile</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <div class="image">
        <img src="assets/starts/UserCardVIP.png" width=169px height=412px alt="UserCardVIP">
      </div>
    </ion-row>
    
  <p class="message">
    In your profile you have <b>at hand your 
    tickets</b>, registered with your 
    credit card.</p>

    <ion-row class="ion-justify-content-center">
      <ion-button class="comenzar-button" (click)="goToHome()">
        Start
       </ion-button>
    </ion-row>

  </ion-grid>
  </div>
</ion-content>
