:host {
  ion-content {
    --background: #0B101A;
    color: #fff;
    text-align: center;
    padding-top: 130px; 
  }

  ion-toolbar {
    --background: #0B101A;
    color: #F1F1F1;
  }

  .seat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }

  .seat {
    width: 60px;
    height: 60px;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
  }

  .seat.available {
    background-color: #d3d3d3;
  }

  .seat.reserved {
    background-color: #f00;
  }

  .seat.selected {
    background-color: #0f0;
  }

  .legend {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .legend-item {
    display: flex;
    align-items: center;
  }

  .legend-item::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .legend-item.available::before {
    background-color: #d3d3d3;
  }

  .legend-item.reserved::before {
    background-color: #f00;
  }

  .legend-item.selected::before {
    background-color: #0f0;
  }
}
