<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
      (click)="navigateBack()"> 
        <ion-icon 
        name="arrow-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-progress-bar 
    type="indeterminate"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <!-- Iteramos sobre las filas de asientos -->
    <ion-row *ngFor="let rowIndex of [0, 1, 2]">
      <ion-col size="4" *ngFor="let colIndex of [0, 1, 2]">
        <!-- Calculamos el índice del asiento dentro de la matriz de 3x6 -->
        <div class="seat-container">
          <!-- Iteramos sobre los asientos en cada columna -->
          <div *ngFor="let seat of seats[rowIndex * 3 + colIndex]" class="seat" [ngClass]="seat.status" (click)="selectSeat(seat)">
            Seat {{ seat.id }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Leyenda de estados de asientos -->
  <div class="legend">
    <div class="legend-item available">Available</div>
    <div class="legend-item reserved">Reserved</div>
    <div class="legend-item selected">Selected</div>
  </div>

  <!-- Botón de checkout -->
  <ion-button expand="block" 
  (click)="goToUserData()" color="secondary">Checkout</ion-button>
</ion-content>
