
<ion-content >
    <div class="contenedor">
      <div class="selector-cine">
              <select>
                <option disabled selected> choose cinema</option>
                  <option>Federal Mall</option>
                  <!-- Agregar más opciones si es necesario -->
              </select>
          </div>
          <div class="peliculas">
              <div class="pelicula">
                  <img src="assets/movies/movie4.jpeg" alt="Padre No hay mas que uno 4">
                  <div class="info">
                      <span class="fecha-estreno">18 July, 2024</span>
                      <span class="titulo">Padre no hay mas que uno 4</span>
                  </div>
              </div>
              <div class="pelicula">
                  <img src="assets/comingsoon/movie2.jpeg" alt="Deadpool 3">
                  <div class="info">
                      <span class="fecha-estreno">26 July, 2024</span>
                      <span class="titulo">Deadpool 3</span>
                  </div>
              </div>
              <div class="pelicula">
                  <img src="assets/comingsoon/movie3.jpg" alt="in a Violent Nature">
                  <div class="info">
                      <span class="fecha-estreno">19 July, 2024</span>
                      <span class="titulo">In a Violent Nature</span>
                  </div>
              </div>
              <div class="pelicula">
                  <img src="assets/comingsoon/movie4.jpeg" alt="Norberta">
                  <div class="info">
                      <span class="fecha-estreno">26 July, 2024</span>
                      <span class="titulo">Norberta</span>
                  </div>
              </div>
              <div class="pelicula">
                  <img src="assets/comingsoon/movie5.jpeg" alt="¿Quien teme al pueblo de hitler?">
                  <div class="info">
                      <span class="fecha-estreno">25 July, 2024</span>
                      <span class="titulo">¿Quien teme al pueblo de hitler?</span>
                  </div>
              </div>
              <div class="pelicula">
                  <img src="assets/movies/twistersPoster.jpg" alt="Twisters">
                  <div class="info">
                      <span class="fecha-estreno">19 July, 2024</span>
                      <span class="titulo">Twisters</span>
                  </div>
              </div>
          </div>
      </div>
</ion-content>
