<ion-content>
  <div class="container">
      <div class="image-container">
          <img src="assets\movies\twistersPoster.jpg" alt="Poster Twisters">
          <button class="trailer-btn">
              <img src="assets\icon\Trailer.png" alt="Trailer">
          </button>
      </div>
      <div class="content">
          <h1>Twisters</h1>
         
          <div class="tags">
              <div class="tag">PG13</div>
              <div class="tag">Action/Suspense</div>
          </div>
          <div class="description">
            Una actualización de la película de 1996 “Twisters”, centrada en un par de cazadores de tormentas que arriesgan sus vidas en un intento de probar un sistema experimental de alerta meteorológica.
          </div>
          
          <div class="ReleaseDate">
            <div class="boxDate">Release Date | July 19 2024</div>
        </div>
      </div>
  </div>
</ion-content>
